{{#if showButton}}
  <button {{action 'toggleSupport'}} class="btn button">$upport</button>
{{else}}
  <div>
    <div class="row">
      <span>
        {{list-component/idea/support/button value=value newValue=1}}
        {{list-component/idea/support/button value=value newValue=2}}
        {{list-component/idea/support/button value=value newValue=3}}
        {{list-component/idea/support/button value=value newValue=4}}
        {{list-component/idea/support/button value=value newValue=5}}
      </span>
    </div>
    <div class="row margin-top-m flex-space-between">
      <button {{action 'giveKudos'}} class="btn button">Accept</button>
      <button {{action 'toggleSupport'}} class="btn button button--muted">Decline</button>
    </div>
  </div>
{{/if}}
