{{#if showButton}}
  <button {{action 'toggleSupport'}} class="btn button">$upport</button>
{{else}}
  <div>
    <div class="margin-s">
      {{list-component/idea/support/button value=value newValue=1}}
      {{list-component/idea/support/button value=value newValue=2}}
      {{list-component/idea/support/button value=value newValue=3}}
      {{list-component/idea/support/button value=value newValue=4}}
      {{list-component/idea/support/button value=value newValue=5}}
    </div>
    <div class="margin-top-m flex-centered support-actions">
      <button {{action 'toggleSupport'}} class="btn button button--muted button--small">cancel</button>
      <button {{action 'giveKudos'}} class="btn button button--small">support</button>
    </div>
  </div>
{{/if}}
